<!-- navigation panel -->
<nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-border-bottom" role="navigation">
    <div class="container">
        <div class="row">
            <!-- logo -->
            <div class="col-md-2 pull-left">
                    <a class="logo-light" href="/">
                        <img alt="" src="http://i.imgur.com/jRTx44P.png" class="logo" />
                    </a>
                    <a class="logo-dark" href="/">
                        <img alt="" src="http://i.imgur.com/jRTx44P.png" class="logo" />
                    </a>
           </div>
            <!-- end logo -->
            
           <!-- store -->
            <div class="col-md-1 search-cart-header pull-right">
                
                <div class="top-cart">
                    <!-- nav shopping bag -->
                        <%= link_to products_path do %>
                            <i class="fa fa-shopping-cart"></i>
                        <% end %>
                    <!-- end nav store -->
                    
                </div>
            </div>
            <!-- end search and cart  -->
            
            <!-- toggle navigation -->
            <div class="navbar-header col-sm-8 col-xs-3 pull-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <!-- toggle navigation end -->
            <!-- main menu -->
            <div class="col-md-9 accordion-menu text-right">
                <div class="navbar-collapse collapse">
                  <ul id="accordion" class="nav navbar-nav navbar-right panel-group">
                  <li><%= link_to "Home", "/" %></li>
                  <li><%= link_to "Who We Are", page_path('about-intacess') %></li>
                        <!-- menu item -->
                        <li class="dropdown panel simple-dropdown"><a href="#collapse7" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">OUR SERVICES <i class="fa fa-angle-down"></i></a>
                            <!-- sub menu single -->
                            <!-- sub menu item  -->
                            <ul id="collapse7" class="dropdown-menu panel-collapse collapse" role="menu">
                                <li><%= link_to "Management Cosultancy", page_path('intacess-services') %></li>
                                <li><%= link_to "Enterprise Solutions", page_path('intacess-services') %></li>
                                <li><%= link_to "Project Management", page_path('intacess-services') %></li>
                            </ul>
                            <!-- end sub menu item  -->
                            <!-- end sub menu single -->
                        </li>
                        <!-- end menu item -->
                        <!-- menu item -->
                        <li class="dropdown panel simple-dropdown"><a href="#collapse7" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">OUR COMPETENCES <i class="fa fa-angle-down"></i></a>
                            <!-- sub menu single -->
                            <!-- sub menu item  -->
                            <ul id="collapse7" class="dropdown-menu panel-collapse collapse" role="menu">
                                <li><%= link_to "e-Health", page_path('E-HEALTH') %></li>
                                <li><%= link_to "e-Government", page_path('E-GOVERNMENT') %></li>
                                <li><%= link_to "e-Education", page_path('E-EDUCATION') %></li>
                                <li><%= link_to "e-Security", page_path('#') %></li>
                                <li><%= link_to "e-Business solutions/IT", page_path('shop-full-width') %></li>
                                <li><%= link_to "e-Business solutions/IT", page_path('shop-single-product') %></li>
                            </ul>
                            <!-- end sub menu item  -->
                            <!-- end sub menu single -->
                        </li>
                        <!-- end menu item -->
                        <!-- menu item -->
                        <li class="dropdown panel"><a href="#collapse5" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">OUR PRODUCTS<i class="fa fa-angle-down"></i></a>
                           
                        </li>
                        
                        <!-- end menu item -->
                        
                        
                        <!-- menu item -->
                        <li><%= link_to "CRM", page_path('CRM') %></li>
                        <!-- end menu item -->
                        
                        <!-- menu item -->
                        <li><%= link_to "CONTACT US", page_path('contact-us') %></li>
                        <!-- end menu item -->
                        
                    </ul>
                </div>
            </div>
            <!-- end main menu -->
        </div>
    </div>
</nav>
<!-- end navigation panel