<!DOCTYPE html>
<html>
<head>
  <title>Intaccess Consultants - Homepage</title>
  <meta name="description" content="Intaccess Management IT Consulatanrs">
  <meta name="keywords" content="">
  <meta charset="utf-8">
  <meta name="Simsima" content="Intaccess Management Consultants">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
  <!-- favicon -->
  <link rel="shortcut icon" href="images/favicon.png">
  <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id= "nav">
		<div class="row">
			<%= render 'layouts/navigation' %>
		</div>
	</div>
	
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>
	  <%= render 'layouts/footer' %>
</body>
</html>